<% let pageTitle = "Profile"; %>
    <%- include('../partials/header.ejs', { pageTitle: pageTitle }) %>
    <div class="footerFix">
        <link rel="stylesheet" type="text/css" href="/css/profile/style.css">
        <title>Profile</title>

        <div class="container">
            <div class="profile-container">
                <div class="personalinfo-container">
                    <img class="profile-picture" src="/images/social-media/default-profile.jpg" alt="">
                    <div class="centered-text" style="padding-left: 100px;">
                        <h1 style="transform: translateY(50%) translateX(10%); align-items: center; font-size: 50px;"><%=user.firstName%> <%=user.lastName%></h1>
                    </div>
                </div>
                <div class="likes-container" style="transform: translateY(25%) translateX(15%);">
                    <h1>Likes</h1>
                    <p>999 <img src="/images/social-media/heart.png" alt="" width="40" height="40"></p>
                </div>
            </div>
            <div>
                <%if(posts.length) {%>
                    <div class="postheader">
                        <h1 class="centered-text" style="padding-top: 0px;">Posts</h1>
                    </div>
                    <% posts.forEach((post) => {%>
                        <div class="post-container">
                            <div class="top-bar">
                                <img src="/images/social-media/default-profile.jpg" alt="" class="profile-picture">
                                <div class="post-info">
                                    <h4><%=post.author%></h4>
                                    <!-- <p><%=post.createdAt%></p> -->
                                    <p>Posted on:<%= new Date(post.createdAt).toLocaleDateString('en-US', { timeZone: 'America/New_York' }) + ' ' + new Date(post.createdAt).toLocaleTimeString('en-US', { timeZone: 'America/New_York', hour12: true, hour: 'numeric', minute: 'numeric' }) %></p>
                                </div>
                            </div>
                            <div class="post-main">
                                <div class="post-title">
                                    <h4><%=post.title%></h4>
                                </div>
                                <div class="post-content">
                                    <p><%=post.content%></p>
                                </div>
                                <div class="post-stats">
                                    <div class="left">
                                        <p><img src="/images/social-media/heart.png" alt="" class="heart"> 999</p>
                                        <a href="">Comment <img src="/images/social-media/comment.png" alt=""
                                            class="comment"></a>
                                        <form>
                                            <button class="edit-button" type="submit" formmethod="GET" formaction="/socialmedia/<%= post._id %>/edit"><i class="fas fa-edit"></i></button>
                                            <button class="delete-button" type="submit" formmethod="POST" formaction="/socialmedia/<%= post._id %>?_method=DELETE"><i class="fas fa-trash"></i></button>
                                        </form>
                                    </div>
                                    <div class="right">
                                        <p>views: 999</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%});%>
                <%} else {%>
                    <div class="postheader">
                        <h1 class="centered-text" style="padding-top: 0px;">No Posts Yet</h1>
                    </div>
                <%}%>
            </div>
        </div>
    </div>
        <%- include('../partials/footer.ejs')%>