<% let pageTitle="Create Group" ; %>
<%- include('../partials/header.ejs', { pageTitle: pageTitle }) %>
<link rel="stylesheet" type="text/css" href="/css/lfg/style.css">
<body>
    <h1 class="create-group-header">Create Group Form</h1>
    <form action="/lfg/<%= group._id %>?_method=PUT" method="POST" class="form-container" >
        <div class="input-group">
            <label for="category">Category:</label>
            <select id="category" name="category" required>
                <option value="" disabled selected>-- Select a Category --</option>
                <option value="Sports" <%= group.category === 'Sports' ? 'selected' : '' %>>Sports</option>
                <option value="Gaming" <%= group.category === 'Gaming' ? 'selected' : '' %>>Gaming</option>
                <option value="Board Games" <%= group.category === 'Board Games' ? 'selected' : '' %>>Board Games</option>
                <option value="Other" <%= group.category === 'Other' ? 'selected' : '' %>>Other</option>
            </select>
        </div>
        <div class="input-group">
            <label for="title">Group Title: </label>
            <input type="text" id="title" name="title" placeholder="Title" value ="<%= group.title%>"required>
        </div>

        <div class="input-group">
            <label for="description">Description: </label>
            <textarea id="description" name="description" placeholder="Description"  rows="1" cols="100" required ><%= group.description%></textarea>
        </div>

        <div class="input-group">
            <label for="preferences">Preferences: </label>
            <textarea id="preferences" name="preferences" placeholder="Preferences"  rows="5" cols="100" required minlength="10"><%= group.preferences %></textarea>
        </div>

        <div class="input-group">
            <label for="maxSize">Maximum Group Size: </label>
            <input type="number" id="maxSize" name="maxSize" placeholder="#"  value ="<%= group.maxSize%>" required min="1">
        </div>

        <button type="submit">Submit</button>
    </form>
</body>

<%- include('../partials/footer.ejs')%>