<% let pageTitle="LFG Dashboard" ; %>
<%- include('../partials/header.ejs', { pageTitle: pageTitle }) %>
<link rel="stylesheet" type="text/css" href="/css/lfg/style.css">
<h1 class="group-title"><%= group.title %></h1>
<body>
    <div class="message-container">
        <ul class="message-list">

            <% group.messages.forEach((message) => {%>
                <li class="message <%= String(message.userId) === String(messageUserId) ? 'user-message' : 'other-user-message'%>">
                    <% if (String(message.userId) !== String(messageUserId)) { %>
                        <em><%= message.userId.firstName %>:</em>
                    <% } else { %>
                        <strong>You:</strong>
                    <% } %>
                    <%= message.content %>
                </li>
            <%});%>
            
            </ul>

        <form action="/lfg/<%= group._id %>/message" method="POST">
            <div class="message-form">
                <input type="text" class="message-input" name="content" placeholder="Type your message...">
                <button class="send-button">Send</button>
            </div>
        </form>
    </div>
</body>
<div class="links">
    <a href="/lfg">Back To LFG Dashboard</a>
</div>

<%- include('../partials/footer.ejs')%>