<% let pageTitle="View Group Details" ; %>
<%- include('../partials/header.ejs', { pageTitle: pageTitle }) %>
<link rel="stylesheet" type="text/css" href="/css/lfg/style.css">
<div class = "viewGroupContainer">
    <div class="group-details">
        <div class="title-buttons">
            <h1 class="group-title"><%= group.title %></h1>
            <form>
                <div class="group-buttons">
                    <button class="edit-button" type = "submit" formmethod="GET" formaction = "/lfg/<%= group._id%>/edit"><i class="fas fa-edit"></i></button>
                    <button class="delete-button" type = "submit" formmethod="POST" formaction = "/lfg/<%= group._id%>?_method=DELETE" ><i class="fas fa-trash"></i></button>
                </div>
            </form>
        </div>

        <div class="details">
            <p><strong>Group Category:</strong> <%= group.category %> </p>
            <p><strong>Created By:</strong> TBD</p>
            <p><strong>Description:</strong> <%= group.description %> </p>
            <p><strong>Group Size:</strong> <%= group.size %> / <%= group.maxSize %> </p><br>
            <p><strong>Preferences: </strong> <%= group.preferences %>  </p>
        </div>
    </div>

    <div class="links">
        <a href="/lfg">Back To LFG Dashboard</a>
        <a href="/lfg/<%= group._id %>/joinedGroup">Join Group</a>
    </div>
</div>

<%- include('../partials/footer.ejs')%>